# Python Basics

## format function

In [2]:
number = 10
Name = 'Nabh'

In [3]:
#.format function
print('My Name is {one} and my class roll number is {two}'.format(one=number,two=Name))

My Name is 10 and my class roll number is Nabh

In [4]:
#New syntax
print(f'My Name is {number} and my class roll number is {Name}')

My Name is 10 and my class roll number is Nabh

## Slicing

In [3]:
var='Dallas'

In [4]:
#Index starts with zero
var[0]

'D'

In [5]:
#Grab elements from 1st element to the last element
var[1:]

'allas'

In [6]:
var[:]

'Dallas'

In [7]:
#starts with 0th element and ends at 2nd; Does not include 3rd element
var[:3]

'Dal'

In [8]:
var1 = 'Nabh Sanjay'

In [9]:
var2 = 'Mehta'

In [10]:
print(var1,var2)

Nabh Sanjay Mehta

## List

In [11]:
list=['a','b','c']

In [12]:
list.append('d')

In [13]:
list

['a', 'b', 'c', 'd']

In [14]:
list[0]='Nabh'

In [15]:
list

['Nabh', 'b', 'c', 'd']

In [16]:
nestlist = [1,2,[3,4,['Nabh']]]

In [17]:
nestlist[2]

[3, 4, ['Nabh']]

In [18]:
nestlist[2][2]

['Nabh']

In [19]:
nestlist[2][2][0]

'Nabh'

In [20]:
#print displays w/o quotes; this is how we should display results
print(nestlist[2][2][0])

Nabh

## Dictionaries

In [21]:
#Name/Value pairs
dic = {'key1':'value','key2':'Dictionary'}

In [22]:
dic['key1']

'value'

In [23]:
print(dic['key2'])

Dictionary

In [24]:
dic = {'key':[1,2,3,4,5,6]}

In [25]:
dic['key']

[1, 2, 3, 4, 5, 6]

In [26]:
dic['key'][2]

3

In [27]:
dic['key'][2:5]

[3, 4, 5]

In [28]:
list = dic['key'][2:5]

In [29]:
list

[3, 4, 5]

In [114]:
dic={'k1':{'k2':[1,2,3]}}

In [115]:
dic['k1']

{'k2': [1, 2, 3]}

In [116]:
dic['k1']['k2']

[1, 2, 3]

In [117]:
print(dic['k1']['k2'][2])

3

## Tuple

In [34]:
#Tuple are immutable meaning it cannot be reassigned like lists
#User cannot change items in a list
t = (0,1,2,3)

In [35]:
t[2]

2

### Tuple concatination - cannot use append but concatination is the work around

In [27]:
t1 = (0,1,2,3)
t2 = (4,5,6,7)

In [29]:
t = t1+t2
print(t)

(0, 1, 2, 3, 4, 5, 6, 7)

## Sets
<b> Mathematically a set is a collection of items not in any particular order.</b> A Python set is similar to this mathematical definition with below additional conditions.

The elements in the set cannot be duplicates. <b>The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.</b> There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.

In [36]:
#Returns unique items from a list
{1,1,1,1,1,2,2,2,3,3,3,}

{1, 2, 3}

In [37]:
set([1,1,1,1,2,2,2,2,3,3,3,3,4,4,4])

{1, 2, 3, 4}

In [38]:
set = {1,2,3,4}

In [39]:
set

{1, 2, 3, 4}

In [40]:
set.add(5)

In [41]:
set

{1, 2, 3, 4, 5}

In [42]:
set.add(5)

In [43]:
set

{1, 2, 3, 4, 5}

### Union of Sets
The union operation on two sets produces a new set containing all the distinct elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [34]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])

In [35]:
AllDays = DaysA|DaysB
print(AllDays)

{'Fri', 'Mon', 'Tue', 'Wed', 'Thu', 'Sun', 'Sat'}

### Intersection of Sets
The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [38]:
DaysA = set(["Nabh","Sanjay","Mehta"])
DaysB = set(["Sanjay","Max","Mehta"])
AllDays = DaysA & DaysB
print(AllDays)

{'Mehta', 'Sanjay'}

### Difference of Sets

In [39]:
DaysA = set(["Nabh","Sanjay","Mehta"])
DaysB = set(["Sanjay","Max","Mehta"])
AllDays = DaysA - DaysB
print(AllDays)

{'Nabh'}

### Compare sets
We can check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.

In [40]:
DaysA = set(["Nabh","Sanjay","Mehta"])
DaysB = set(["Sanjay","Max","Mehta"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

False
False

In [41]:
DaysA = set(["Nabh","Sanjay","Mehta"])
DaysB = set(["Nabh","Sanjay","Max","Mehta"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

### Accessing values in a set - Can only be accessed using Loop

In [30]:
Days1=set(["Mon","Tue","Wed","Thu","Sat","Sun","Fri"])

In [32]:
for i in Days1:
    print(i)

Fri
Mon
Tue
Wed
Thu
Sun
Sat

## True/False

In [44]:
1 > 2

False

In [45]:
1 < 2

True

In [46]:
1 != 2

True

In [47]:
(1<2) or (1>2) or (1==1)

True

## if/elif/else

In [48]:
if 1==2:
    print('condition 1: True')
elif 1==1:
    print('condition 2: True')
else:
    print('condition 3: True')

condition 2: True

## Sequence

In [49]:
seq = [1,2,3,4,5]

In [50]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [51]:
i = 1
while i < 5:
    print('i is {}'.format(seq))
    i+=1

i is [1, 2, 3, 4, 5]
i is [1, 2, 3, 4, 5]
i is [1, 2, 3, 4, 5]
i is [1, 2, 3, 4, 5]

## Range

In [52]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [53]:
del list
#if variable is assigned previously of type other than we can delete it

In [54]:
list(range(5))

[0, 1, 2, 3, 4]

In [46]:
x=list(range(5))

In [56]:
out=[]
for i in x:
    out.append(i**2)

In [57]:
out

[0, 1, 4, 9, 16]

## List comprehension

In [55]:
output=[]
for i in x:
    output.append(i**2)
print(output)

[0, 1, 4, 9, 16]

In [52]:
#with list comprehension
out = [i**2 for i in x]

In [59]:
out

[0, 1, 4, 9, 16]

### Flatten list - Change Multidimensional array to 1-D

In [60]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
vec

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
[n for i in vec for n in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## functions

In [60]:
def new_func(name):
    print('My name is '+name)

In [61]:
new_func('Nabh')

My name is Nabh

In [62]:
def func2(name='Sanjay'):
    print('My name is '+name)

In [63]:
func2()

My name is Sanjay

In [64]:
func2('Nabh')

My name is Nabh

In [65]:
func2(name='Nabh')

My name is Nabh

In [66]:
func2
#explains type of function

In [67]:
def square(i):
    return(i**2)

In [68]:
square(2)

4

### Difference between print and return: return values can be stored in a variable while print does not allow us to store results

In [69]:
varfunc=func2('Nabh')

My name is Nabh

In [70]:
varsquare=square(3)

In [71]:
varsquare

9

## Documentation string

In [72]:
def addition1(i):
    """
    This is a function.
    This function is for addition
    """
    print (i+i)

In [73]:
#shift+tab
addition1(2)

4

## Map function

In [74]:
x=[1,2,3,4,5]

In [75]:
map(addition1,x)

In [76]:
#with print statement
list(map(addition1,x))

2
4
6
8
10

[None, None, None, None, None]

In [77]:
def subtract_func(a,b):
    return(a-b)

In [78]:
subtract_func(10,8)

2

In [79]:
y=[2,3,4,5,6]

In [80]:
#with return statement
list(map(subtract_func,y,x))

[1, 1, 1, 1, 1]

## Lambda Expression

In [81]:
#We can write function in one line like:
def multiply_func(i): return(i*i)

In [82]:
seq = [1,2,3,4,5]

In [83]:
list(map(multiply_func,seq))

[1, 4, 9, 16, 25]

In [84]:
#now with lambda expression
list(map(lambda i: i*i, seq))

[1, 4, 9, 16, 25]

### Lambda enables us to use function without defining it explicitly
#def multiply_func(i): return(i*i)
#lambda i: i*i, seq

## Filter Function

In [85]:
list(filter(lambda i:i%2==0,seq))

[2, 4]

## String Functions

In [86]:
v = 'My Name is Nabh'

In [87]:
#press tab after '.'
v.split()

['My', 'Name', 'is', 'Nabh']

In [88]:
tweet1 = 'That movie was amazing #Intersteller'

In [89]:
tweet1.split()

['That', 'movie', 'was', 'amazing', '#Intersteller']

In [90]:
tweet1.split('#')

['That movie was amazing ', 'Intersteller']

In [91]:
tweet1.split('#')[1]

'Intersteller'

In [92]:
tweet1.split('#')[0]

'That movie was amazing '

## dictionary functions

In [93]:
## press tab after '.'

In [94]:
dic

{'k1': {'k2': ['1', '2', 3]}}

In [95]:
dic.keys

In [96]:
dic.keys()

dict_keys(['k1'])

In [97]:
dic.items()

dict_items([('k1', {'k2': ['1', '2', 3]})])

In [98]:
dic.values()

dict_values([{'k2': ['1', '2', 3]}])

## List functions

In [18]:
list1 = [1,2,3,4,5]

### pop()

In [19]:
#if you pass an index value to pop function it will pop out that value from the list
v = list1.pop(0)

In [20]:
v

1

In [21]:
list1

[2, 3, 4, 5]

In [22]:
#pop function removes last item from list and assigns to a variable
v = list1.pop()

In [23]:
v

5

In [24]:
list1

[2, 3, 4]

### Del function

In [25]:
del list1[0]
list1

[3, 4]

### remove()

In [26]:
list1.remove(3)
list1

[4]

### in()

In [106]:
'x' in seq

False

In [107]:
'x' in ['x','y','z']

True

##  Tuple Unpacking

In [108]:
#If we have to unpack tuple in a list we can do it using this function

In [109]:
x = [(1,2),(3,4),(5,6)]

In [110]:
#this prints resp tuples in a list
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [111]:
#this is the syntax for unpacking
for a,b in x:
    print(a)

1
3
5

In [112]:
# brackets on a,b is optional
for (a,b) in x:
    print(b)

2
4
6